{% extends "base.html" %}

{% block content %}
	<h2>{{ author.name|title }}</h2>
	{% for book in author.books.all %}
		{% if book.review %}
			<div class="book">
				<h3><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></h3>
<!-- Only show favorite badge if it actually is favorited -->
				{% if book.is_favorite %}
					<p class = "highlight">Favorite</p>
				{% endif %}
<!-- linebreaks filter preserves linebreaks from Django admin -->
				<p>{{ book.review|linebreaks }}</p>
				<p class="meta">
					Reviewed on <strong>{{ book.date_reviewed|date:"D d M Y"}}</strong>
					{% if book.reviewed_by %}
						<!-- get_full_name is a built in method from the User model -->
						by <strong>{{ book.reviewed_by.get_full_name|default:book.reviewed_by.username }}
					{% endif %}
				</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
