{% extends "base.html" %}

{% block content %}
	<h2>{{ author.name|title }}</h2>
	{% for book in author.books.all %}
		{% if book.review %}
			<div class="book">
				<h3><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></h3>
<!-- Only show favorite badge if it actually is favorited -->
				{% if book.is_favorite %}
					<p class = "highlight">Favorite</p>
				{% endif %}
<!-- linebreaks filter preserves linebreaks from Django admin -->
				<p>{{ book.review|linebreaks }}</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
