<!-- This tells Django that this template is a "child" of base.html
so that the block content replace will work -->
{% extends "base.html" %}

<!-- This loads the humanize model, which spells out numbers under 10 -->
{% load humanize %}

<!-- This content block replaces the block section of the base.html
template -->
{% block content %}
	<h1>{{ books.count|apnumber|title }} Book{{ books.count|pluralize }}</h1>

	{% for book in books %}
		{% include "book-detail.html" %}
	{% endfor %}
{% endblock %}
