{% load static %}

<!doctype html>
<html>
	<head>
		<title>ReadIt!</title>
		<meta charset="utf-8">
		<meta name="description" content="My great book review site">
		<meta name="viewport" content="Width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700|Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
		<div class="container">
			<header>
				<a href="{% url 'books' %}">
					<img src="{% static 'img/logo.png' %}" alt="Readit!" class="logo"/>
				</a>
				<div class="welcome">
					{% if request.user.is_authenticated %}
						<p>Hello there {{ request.user.username|title}}</p>
						<p>You last logged in at {{ request.user.last_login|date:"D d M Y"}}</p>
					{% else %}
						<p>You are not logged in</p>
					{% endif %}
				</div>
			</header>

			<nav>
				<a href="{% url 'books' %}">Books</a>
				<a href="{% url 'authors' %}">Authors</a>
			</nav>

			<main>
				{% block content %}{% endblock %}
			</main>

			<footer>
				<p>My awesome book review site!</p>
			</footer>
		</div>
	</body>
</html>